<section>
    <form (submit)="agregarTarea()">
        <div class="container">
            <input type="text"  [(ngModel)]="nuevaTarea" name="nuevaTarea" class="input" required="">
            <label class="label">Agregar Tarea</label> 
            <button type="submit" class="button"> <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" height="20" fill="none" class="svg-icon">
                <g stroke-width="1.5" stroke-linecap="round" stroke="#de8a2a">
                    <circle r="7.5" cy="10" cx="10"></circle>
                    <path d="m9.99998 7.5v5"></path>
                    <path d="m7.5 9.99998h5"></path>
                </g>
            </svg>
            <span class="lable">Agregar</span></button>
        </div>
           
    </form>
</section>